.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  color: black; /* Agregado para asegurar que el texto sea oscuro */

}

.navbar.dark-mode {
  background-color: black; /* Color de fondo para el modo oscuro */
  color: white; /* Color de texto para el modo oscuro */
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
 
}

.nav-list li {
  margin-right: 10px;

}

.nav-list li:last-child {
  margin-right: 0;
}

.brand-link {
  margin-right: auto;
  color: inherit; /* Hereda el color del texto de su contenedor */
  text-decoration: none;
  font-size: 1.5em;

}

.brand-initial {
  color: red;
  font-weight: bold;
}

button {
  margin-left: 10px;
  margin-right: 40px;
}


.button-container {
  font-size: 1em;
  border: none;
  background: black;
  cursor: pointer;
  width: 2.5em; /* Puedes ajustar el tamaño según lo necesites */
  height: 2.0em; /* Puedes ajustar el tamaño según lo necesites */
  transition: background-color 0.3s; /* Añade una transición al cambio de color de fondo */
}

.button-container:hover {
  background: #333; /* Cambia el color de fondo cuando el botón está en hover */
}

.sun-icon,
.moon-icon {
  font-size: 1.4em;
  color: white; /* Asegura que el icono tenga color blanco */
}

